@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

* {
  --lightestGrey: #dad7cd;
  --lightGreen: #a3b18a;
  --forest: #588157;
  --darkGreen: #344e41;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: var(--forest);
  padding: 20px;
  border-bottom: black 4px solid;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-holder {
  display: flex;
  gap: 20px;
}

.name {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-family: "Tilt Warp";
}

.coffeeLogo {
  padding-top: 3px;
  height: 2.5rem;
  width: 3.2rem;
}

button {
  padding: 10px 3vw 10px 3vw;
  background-color: var(--forest);
  border: none;
  border-bottom: black 3px double;
  font-size: 1.3rem;
  font-family: "Tilt Warp";
}

button:hover {
  color: #dad7cd;
  transition: 0.3s;
}

.highlight {
  color: #dad7cd;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--lightGreen);
  padding: 20px;
  gap: 2rem;
}

/* HomePage CSS */

.home-container {
  background-image: url(/src/imgs/background-home-page.jpg);
  background-size: cover;
  background-position: center center;
}

.second-main {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vw;
  flex: 1;
}

.about-container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.about-header {
  font-family: "Tilt Warp";
  font-size: 2.5rem;
}

.about-text {
  font-size: 1.2rem;
}

.hours-container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.hours-header {
  font-family: "Tilt Warp";
  font-size: 2.5rem;
}

.hours-text {
  font-size: 1.2rem;
}

.location-container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.location-header {
  font-family: "Tilt Warp";
  font-size: 2.5rem;
}

.location-text {
  font-size: 1.2rem;
}

/* HomePage END */

/* Menu Begin */
.menu-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 20px;
  flex-grow: 1;
  align-self: center;
}

.food-container {
  display: flex;
  flex-direction: column;
  border: black 2px solid;
  border-radius: 1vh;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  height: 40vh;
  width: 32vw;
  gap: 5px;
  background-color: var(--lightestGrey);
  box-shadow: 2px 2px 2px black;
}

.food-name {
  font-family: "Tilt Warp";
  font-size: 1.5rem;
}

.food-image {
  width: 20vw;
  height: 25vh;
}

.food-description {
  font-size: 1.1rem;
}

/* Menu END */

/* Contact Begin */

.contact-container {
  padding: 0;
  background-image: url(/src/imgs/jason-leem.jpg);
  background-size: cover;
  background-position: center center;
}

.contact-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--lightestGrey);
  width: min-content;
  align-self: center;
  margin-top: 5vh;
  padding: 4vh;
  height: 60vh;
  border: var(--forest) 2px solid;
  box-shadow: 10px 10px 10px black;
}

.contact-header {
  font-family: "Tilt Warp";
  font-size: 2rem;
}

.contact-text {
  font-size: 1.2rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  column-gap: 20px;
  width: 30vw;
  height: 100%;
  border: black 2px solid;
  background-color: var(--lightGreen);
  padding: 2vh;
  border-radius: 1vh;
  font-size: 1rem;
  font-family: "Tilt Warp";
}

.form-input {
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
  border-radius: 1vh;
}

#message {
  height: 100%;
}

#email {
}

#email-holder {
  grid-column: span 2;
}

#message-holder {
  grid-column: span 2;
}

@media screen and (max-width: 560px) {
  .coffeeLogo {
    visibility: hidden;
  }
}
